/*!
*date:2016-02-18;
*/
html,body{
	background-color: #fff;
	-ms-touch-action: none;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
section{
	padding-bottom: 25px;
}
/*row 并行样式*/
.index_acount,.index_newGame{
	margin-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.index_acount label,.index_newGame label{
	font-size: 24px;
	padding-top: 0px !important;
}
.index_acount input,.index_newGame input{
	font-size: 20px;
}

.index_grouping .scroller{
	padding: 0 !important;
	background:none;
}
.index_grouping .scroller .row{
	margin: 0 !important;
}
.index_grouping .scroller .row .teamName{
	float: left;
	font-size: 20px;
	line-height: 32px;	
}
.index_grouping .scroller .row .playerName,.index_grouping .scroller .row .playerNameEnd{
	float: left;
	line-height: 32px;
}
.index_grouping .scroller .row .playerName:after{
	content: "、";
}
.index_grouping .scroller .row .addPlayer{
	float: left;
	width: 32px;
	height: 32px;
	padding: 7px 9px;
}

.index_setSeats .seat{
	position: relative;
	margin: 30px auto 10px;
	padding: 0px;
	background-color: #ff0000;
	width: 200px;
	height: 200px;
}
.index_setSeats .seat > div{
	position: absolute;
	background-color: #fff;
	width: 50px;
	height: 50px;
}
.index_setSeats .seat .up_seat{
	top: 10px;
	left: 75px;
}
.index_setSeats .seat .right_seat{
	top: 75px;
	right: 10px;
}
.index_setSeats .seat .bottom_seat{
	bottom: 10px;
	left: 75px;
}
.index_setSeats .seat .left_seat{
	top: 75px;
	left: 10px;
}
.index_setSeats .seat p{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-overflow:ellipsis;
}
/*自适应布局*/
html,body,.wrap{height: 100%;}
body>.wrap{
	height: auto;
	min-height: 100%;
	/*background-color: #303030;
	background-image: -moz-linear-gradient(top, #303030, #fefefe); 
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #303030),color-stop(0.5,#666666), color-stop(1, #fefefe)); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#666666', GradientType='0'); 
*/}
.navbar{
	position: relative;
	width: 100%;
	height: 50px;
}
.main{
	padding-bottom: 50px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.footer{
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}
.footer .credit {
	margin: 15px 0;
}
/*margin*/
.no-btm-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
/*color*/
.white {
	color:#fff;
}
.bg-gray{
	background-color: #eee;
}
.bg-f8f8f8{
	background-color: #f8f8f8;
}
.bg-logo{
	margin-bottom: 25px;
	text-align: center;
}
.bg-logo>img{
	width: 90%;
	min-height: 300px;
	max-height: 400px;
	min-width: 300px;
	max-width: 400px;
	margin: 0px auto;
}
@media (max-width: 767px) {
    .bg-logo>img {
		width: 300px;
		height: 300px;
    }
}
/*control*/
/*可选框*/
.CheckBox,.RadioBox {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../img/checkbox.png) no-repeat;
    border: none;
    cursor: pointer;
}

.CheckBox {
    background-position: 0 0;
}
.CheckBox.hover {
    background-position: -24px 0;
}
.CheckBox.checked {
    background-position: -48px 0;
}
.CheckBox.disabled {
    background-position: -72px 0;
    cursor: default;
}
.CheckBox.checked.disabled {
    background-position: -96px 0;
}

.RadioBox {
    background-position: -120px 0;
}
.RadioBox.hover {
    background-position: -144px 0;
}
.RadioBox.checked {
    background-position: -168px 0;
}
.RadioBox.disabled {
    background-position: -192px 0;
    cursor: default;
}
.RadioBox.checked.disabled {
    background-position: -216px 0;
}