/*!
*date:2016-02-18;
*/
html,body{
	height: 100%;
	background-color: #fff;
	-ms-touch-action: none;
	background: #d9d9d9;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
section{
	padding-bottom: 25px;
}
/*控件*/
.header{
	position: absolute;
	width: 100%;
	height: 80px;
	background: url(../img/bg_black50.png);
	z-index: 1050;
}
.header img{
	height: 80px;
}
.app_Logo{
	height: 80px;
}
.QR_Code{
	height: 80px;
	margin:5px 10px;
}
/*主页面*/
.index_unicom>div{
	padding:10px 20px;
}
.index_unicom button h3{
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
}
.index_unicom button p{
	margin: 0px;
	text-align: left;
	white-space: normal;
}
.index_unicom button .badge{
	margin-top:13px;
	margin-left:2px;
}
canvas{
	position:absolute;
	top: 0;
	left:0;
	width: 100%;
	margin-top: 80px;
	background-color: #d9d9d9;
	background: url(../img/bg_canvas.jpg) no-repeat;
	background-position: bottom right;
	background-size: 100%;
	background-clip: content-box;
}
.bg_unicom_app{
	position: relative;
	margin-bottom: 80px;
	width: 100%;
	z-index: 1;
}
@media (max-width: 767px) {
	canvas{
		max-height: 226px;
		min-height: 100px;
	}
	.bg_unicom_app{
		min-height: 226px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	canvas{
		max-height: 320px;
		min-height: 226px;
	}
	.bg_unicom_app{
		min-height: 320px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	canvas{
		max-height: 420px;
		min-height: 320px;
	}
	.bg_unicom_app{
		min-height: 420px;
	}
}
@media (min-width: 1200px) {
	canvas{
		max-height: 510px;
		min-height: 420px;
	}
	.bg_unicom_app{
		min-height: 510px;
	}
}
/*子页面*/
.Style_container{
	/*需要添加样式*/
	border: 5px solid #fff;
	padding: 0;
}
.Style_row1{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #e8e8e8;
	background-image: -moz-linear-gradient(bottom, #8fa1ff, #3757fa); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0'); /* IE*/
}
.Style_row1 #info_QR>img{
	border: 5px solid #fff;
}
.Style_row2{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f1f1f1;
}
.Style_row2 .Style_info_description{
	background-color: #fff;
	height: 400px;
}
.carousel img{
	margin: 0px auto;
	height: 500px;
}
.bg_unicom_app_info .badge{
	margin-right: 5px;
}
.bg_unicom_app_info_top{
	height: 120px;
}
/*自适应底部*/
.wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}
.push,.footer{
	height: 50px;
}
.footer{
	position: relative;
	z-index: 1030;
	background-color: #f5f5f5;
}
 /* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    .footer {
		padding-left: 20px;
		padding-right: 20px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.wrap > .container {
	padding-bottom: 30px;
}
.container > .credit {
	margin: 15px 0;
}
/*margin*/
.no-btm-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
/*color*/